<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBVX58iRatYV3k4VmXWKEzu5LUI3TsJQLo</string>
	<key>GCM_SENDER_ID</key>
	<string>904906394184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ismayilismayilov.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-31ccd</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-31ccd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:904906394184:ios:ad3062e143a620d7d2a67d</string>
</dict>
</plist>